/**
 * Name: styles.css
 * Date: 15/06/2015
 * Author: Patricia Losada Estrella <patrilosada92@gmail.com>
 * Creative Commons License <http://creativecommons.org/licenses/by-sa/3.0/>
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 body {
    background-color: #fff;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
 }

 h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
 }

form input[type="text"] {
    margin: 20px 20px 20px 0;
    padding: 5px 40px 5px 20px;
}


form input[type="submit"] {
    background-color: #FD7F26;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    padding: 7px 18px;
}

.container {
    margin: 0 auto;
    overflow: auto;
    width: 960px;
}


/***** ----- Header ----- *****/

header {
    background-color: #FD7F25;
}

header .container {
    padding: 20px 0;
}

header ul {
    float: left;
    margin-top: 20px;
}

header ul li {
    float: left;
    list-style-type: none;
}

header ul li a {
    background-color: #9C4D13;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    padding: 5px 15px;
    text-decoration: none;
}

header ul li a:hover {
    background-color: #C6621A;
}

header .logo {
    float: right;
}


/***** ----- Content ----- *****/

.banner p a {
    background-color: #9C4D13;
    border-radius: 5px;
    color: #fff;
    float: right;
    height: 100px;
    margin: 0 0 20px 20px;
    padding: 25px 20px;
    text-decoration: none;
    width: 360px;
}

.container img {
}

.container p {
    background-color: #9C4D13;
    color: #fff;
}

/***** ----- Footer ----- *****/

footer {
    background-color: #C6621A;
    color: #fff;
    margin-top: 20px;
}

.column {
    float: left;
    width: 25%;
}

.column:last-child {
    width: 50%;
}

.column h3 {
    border-bottom: 1px solid #fff;
    margin: 15px 10px 15px 0;
    padding-right: 70px;
}

.column p {
    background-color: #C6621A;
}

.column ul {
    margin-bottom: 100px;
}

.column ul li {
    list-style-type: none;
}

.column ul li a {
    color: #fff;
    text-decoration: none;
}

.column ul li a:hover {
    color: #523C28;
}