/**
 * Name: styles.css
 * Date: 15/06/2015
 * Author: Patricia Losada Estrella <patrilosada92@gmail.com>
 * Creative Commons License <http://creativecommons.org/licenses/by-sa/3.0/>
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 body {
    background-color: #fff;
    color: #333;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-weight: normal;
 }

.container {
    margin: 0 auto;
    overflow: auto;
    width: 960px;
}


/***** ----- Header ----- *****/

header {
    background-color: #FD7F25;
}

header .container {
    padding: 20px 0;
}

header ul {
    float: left;
    margin-top: 20px;
}

header ul li {
    float: left;
    list-style-type: none;
}

header ul li a {
    background-color: #9C4D13;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    padding: 5px 15px;
    text-decoration: none;
}

header ul li a:hover {
    background-color: #C6621A;
}

header .logo {
    float: right;
}


/***** ----- Content ----- *****/

.banner p a {
    background-color: #9C4D13;
    border-radius: 5px;
    color: #fff;
    float: right;
    height: 100px;
    margin: 0 0 20px 20px;
    padding: 25px 20px;
    text-decoration: none;
    width: 360px;
}

.container img {
    float: left;
    margin: 20px 0 0 0;
}

.container p {
    background-color: #9C4D13;
    color: #fff;
    padding: 5px 0 5px 10px;
    width: 580px;
}

/***** ----- Footer ----- *****/

footer {
    background-color: #C6621A;
    color: #fff;
    margin-top: 20px;
}

.column {
    float: left;
}

.column h3 {
    border-bottom: 1px solid #fff;
    margin: 15px 10px 15px 0;
    padding-right: 70px;
}

.column ul {
    margin-bottom: 100px;
}

.column ul li {
    list-style-type: none;
}

.column ul li a {
    color: #fff;
    text-decoration: none;
}

.column ul li a:hover {
    color: #523C28;
}